html, 
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

footer {
    padding: 1rem;
    background-color: #d5d5d5;
    text-align: center;
}

.login-container {
    min-height: 100vh;
    background: url("/public/login-bg.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
}

.login-container h2 {
    margin: 0;
}

.card {
    background-color: #fff;
    color: #222;
}

form input {
    min-width: 300px;
}

